* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    padding: 20px;
}
#tabs{
    display: flex;
    gap: 20px;
}
.tab{
    padding: 12px 20px;
      font-family:gilroy;
    background-color: #e9e9e9;
    border: 2px solid #dadada;
    border-radius: 4px;
    font-weight: 600;
}
h3{
    margin-top: 20px;
    display: none;
}