*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:30px;
    padding: 0 20px;
}
#nav h4{
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}
#nav i{
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
#center{
    width: 100%;
    padding:10px 70px;
}
#center h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 55px;
}
#center-in{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
#center-in p{
    font-size: 15px;
    line-height: 20px;
    font-weight: 540;
    margin-left: 70px;
}
#right{
    width: 20%;
    margin-right: 50px;
}
.elem{
    padding: 15px 0;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.elem i{
    font-size: 15px;
    font-weight: 600;
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}
#bottom{
    height: 233px;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1766469295724-193a0f282de4?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 25%;
}