*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gilroy', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:flex-start;
    padding: 0px 65px;
    padding-top: 80px;
    gap: 10px;
}
#left{
    height:100%;
    width: 40%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

#left h1{
    font-size: 9vw;
    font-weight:500;
    line-height:8.5vw;
}
#bottom-left{
    height:40%;
    width: 100%;
    /* background-color: yellow; */
}
#color{
    /* background-color: blue; */
    width:fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
}
#color h5{
    font-size: 1.5vw;
    margin-right: 10px;
    font-weight: 500;
}
#color1{
    width:20px;
    height:20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;
}
#color2{
    width:20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
 }
 #left h2{
    margin-top:30px;
    font-size: 3vw;
    margin-bottom: 10px;
 }
 #left p{
    font-size:1.2vw;
    width: 90%;
    color: #444;
    line-height:1.2vw;
 }

 #right{
    height:100%;
    width: 33%;
    /* background-color: rgb(0, 34, 255); */
    position: relative;
}
#right-top{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#right-top h4{
    font-size: 1.5vw;
    font-weight: 600;
}
#right-top h5{
    font-size: 1vw;
    font-weight: 600;
}
#right-top h5 i{
    color: gold;
}
#right img{
    width: 100%;
    height: 88.5%;
    object-fit: cover;
}
#gola{
    position: absolute;
    background-color:rgb(36, 36, 37);
    width:140px;
    height:140px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    right: -18%;
    top:25%;
}
#gola h5{
    font-size: 1.5vw;
    font-weight: 500;
}
#rotated{
    position: absolute;
    font-size:2vw;
    font-weight:500;
    rotate: -90deg;
    transform-origin: 0 0;
    left:-15%;
    bottom:1%;
}

@media (max-width: 600px) {
  #main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px 20px;
    gap: 40px;
  }

  #left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #left h1 {
    font-size: 19vw;
    font-weight: 500;
    line-height: 17vw;
  }

  #bottom-left {
    width: 100%;
  }

  #color {
    width: fit-content;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
  }

  #color h5 {
    font-size: 4vw;
    margin-right: 8px;
    font-weight: 500;
  }

  #color1,
  #color2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px;
  }

  #color1 { background-color: burlywood; }
  #color2 { background-color: brown; }

  #left h2 {
    margin: 10px 0;
    font-size: 5.5vw;
  }

  #left p {
    font-size: 3vw;
    color: #444;
    line-height: 4vw;
  }

  #right {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }

  #right-top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #right-top h4 {
    font-size: 5vw;
    font-weight: 600;
  }

  #right-top h5 {
    font-size: 3.5vw;
    font-weight: 600;
  }

  #right-top h5 i {
    color: gold;
  }

  #right img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #gola {
    position: absolute;
    background-color: rgb(36, 36, 37);
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    right: 5%;
    top: 35%;
  }

  #gola h5 {
    font-size: 4vw;
    font-weight: 500;
  }

  #rotated {
    position: absolute;
    font-size: 2vw;
    font-weight: 500;
    top: -10%;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }
}
