* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#center h3{
    opacity: 0;
}
#downloadcapsule {
  width: 300px;
  height: 10px;
  background-color: #dadada;
  border-radius: 100px;
}
#progress {
  height: 100%;
  width: 0;
  border-radius: 100px;
  background-color: green;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
}
