*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Gilroy';
}
#main{
    height: 100%;
    width: 100%;
    background-color: #efefef;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}
#left-top-left{
    /* background-color: crimson; */
    padding: 40px;
}
#square{
    height: 20px;
    width: 20px;
    rotate: 45deg;
    background-color: black;
}
#left-top-right{
    /* background-color: rgb(56, 19, 83); */
    justify-self: right;
    padding: 30px;
    text-align: right;
}
#left-top-right h4{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}
#left-top-right h5{
  font-size: 16px;
    font-weight: 500;
    color: #333;
}
#left-center{
    /* background-color: royalblue; */
    grid-column: 1/3;
    padding: 30px;
}

#left-center h1{
    font-size: 5vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#left-center h1:nth-child(2n){
    text-align: center;
}
#left-center h1:nth-child(odd){
    padding-left: 15px;
}
#left-bottom{
    /* background-color: greenyellow; */
    grid-column: 1/3;
    padding: 40px;
}
#left-bottom p{
    width: 80%;
    font-size:15px;
}
#right{
    /* background-color: blueviolet; */
    grid-column: 3;
    grid-row: 1/4;
    padding: 35px;
    padding-right: 150px;
}
#right video{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 3px;
}
#arrow{
    position: absolute;
    top:50%;
    left:52.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    padding: 20px;
    color: #fff;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
#arrow i{
    font-size: 40px;
    color: white;
}