*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:black;
}
#hi{
    padding: 30px 0;
    text-align:center;
    color:cyan;
    font-family:sans-serif;
}
button{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid cyan;
    color: cyan;
    font-weight: 600;
    position:relative;
    transition:all linear 0.5s;
    overflow: hidden;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index:0;
    cursor: pointer;
}
button::after{
    content:"";
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:cyan;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) scale(0);
    transition:all linear 0.3s;
    z-index: -1;
}
button:hover::after{
    transform: translate(-50%,-50%) scale(3);
}
button:hover{
    color:black;
}