*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    Font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    width:100%;
    height:60px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 20px;  
}
#nav h5{
    display:none;
}
#nav-p1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
}
.gola{
    height:18px;
    width:18px;
    background-color: black;
    border-radius: 50%;
}
#nav-p2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#nav-p2 h4{
    font-size:13.5px;
    font-weight: 500;
}
#nav-p2 h4 span{
    color: rgb(127, 127, 127);
    margin-left:25px;
}

#nav2{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 45px;
}
#nav2 h3{
    font-size:14px;
    font-weight: 600;
    text-transform: uppercase;
}
#content{
    height: calc(100% - 120px);
    width: 100%;
    /* background-color:aquamarine; */
}
#text-content{
    height:40%;
    width: 100%;
    /* background-color:burlywood; */
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height:5px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.elem{
    flex-shrink: 0;
    width:50%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.elem h1{
    font-size:7vw;
    font-weight: 300;
}
#image-content{
    height:62%;
    width:100%;
    background-color:rebeccapurple;
    display:flex;
    overflow-x:auto;
}
#image-content::-webkit-scrollbar{
display:none;
}
#image-content img{
    width:100%;
    height:100%;
    object-fit: cover;
    flex-shrink: 0;
    object-position: 0% 25%;
}

@media (max-width:600px){
#nav{
    height:65px;
    padding:0 20px;
}
#nav h5{
    display:initial;
}
#nav h5 i{
    font-size: 25px;
    margin-right:15px;
}
#nav-p1{
    gap:0px;
}
.gola{
    height:15px;
    width:15px;
    background-color: black;
    border-radius: 50%;
}
#nav-p2{
    gap:10px;
    align-items: center;
}
#nav-p2 h4{
    font-size:13px;
    display: none;
    font-weight: 500;
}
#nav-p2 h4 span{
    color: rgb(127, 127, 127);
    margin-left:15px;
}
#nav-p2 h4:nth-child(1){
    display:initial;
    margin-right:30px;
}
#nav2{
    width:100%;
    height:70px;
    display:flex;
    align-items:center;
    padding:0 20px;
    gap:10px;
}
#nav2 h3{
    font-size:2.6vw;
    font-weight: 500;
    text-transform: uppercase;
    color: #444;
}
#content{
    height: calc(100% - 135px);
    width: 100%;
    /* background-color:aquamarine; */
}
#text-content{
    height:35%;
    width: 100%;
    /* background-color:burlywood; */
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height:4px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.elem{
    flex-shrink: 0;
    width:fit-content;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    white-space:nowrap;
}
.elem h1{
    font-size:20vw;
    font-weight: 400;
}
#image-content{
    height:67%;
    width:100%;
    background-color:rebeccapurple;
    display:flex;
    overflow-x:auto;
}
#image-content::-webkit-scrollbar{
display:none;
}
#image-content img{
    width:100%;
    height:100%;
    object-fit: cover;
    flex-shrink: 0;
    object-position:center;
}
}