* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
.container {
  padding: 10vw 25vw;
}
input {
  width: 100%;
  padding: 8px 17px;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #dadada;
  outline-color: royalblue;
  border-radius: 10px;
  font-family: gilroy;
}

.people {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.person {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  border: 2px solid #dadada;
  background-color: blue;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30% 30%;
}
